@model IEnumerable<ClubServiceViewModel>

@{
    ViewData["Title"] = "Explore All Clubs";
}

<h1 class="text-center">@ViewBag.Title</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary btn-sm" /> |
            <a asp-action="Index" class="text-light btn btn-secondary btn-sm">Back to full list</a>
        </p>
    </div>
</form>

<hr />
<div class="container col-sm-10">
    <div class="text-center row">
        <table class="table table-striped">
            <thead class=" table-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Working Time</th>
                    <th scope="col">Prices From</th>
                    <th scope="col">Courts</th>
                    <th scope="col">Rating</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var club in Model)
                {
                    <tr>
                        <td><img src="~/@club.LogoUrl" style="max-width: 40px; max-height: 40px;" /></td>
                        <td>@club.Name</td>
                        <td>@club.CityName</td>
                        <td>@club.WorkingTimeStart - @club.WorkingTimeEnd</td>
                        <td>@club.Prcie</td>
                        <td>@club.NumberofCourts</td>
                        <td>
                            @if (@club.Rating>0)
                            {
                                @club.Rating
                            }
                            else
                            {
                                <small>No Rating</small>
                            }
                        </td>
                        <td>
                            <a asp-controller="Club" asp-action="Details" asp-route-id="@club.Id" class="btn btn-primary">Details</a>
                            <a asp-controller="Court" asp-action="Index" asp-route-id="@club.Id" class="btn btn-success">Reserve</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>