@model MyClubDetailsServiceModel

@{
    ViewData["Title"] = "Club Details";
    var courtNumber = 1;
}

@await Component.InvokeAsync(nameof(ClubOwnerMenuComponent))

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="left-column">
                <!-- Left part: Render _ClubInfoPartial.cshtml -->
                <partial name="_ClubInfoPartial" model="Model.Info" />
            </div>
        </div>
        <div class="col-md-9">
            <!-- Right part: Display other club details -->
            <partial name="_ClubDetailsPartial" model="Model.Details" />
        </div>
    </div>
</div>
<hr />

<h3 class="text-center"> Manage Your Courts</h3>

<div class="container">
    <div class="text-center row">
        <div class="col-12 mb-3">
            <a asp-controller="Court" asp-action="Add" class="btn btn-primary fw-bold btn btn-primary w-25">Add Court</a>
        </div>
        <table class="table table table-hover table-bordered table-responsive-md">
            <thead class="table-dark">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Surface</th>
                    <th scope="col">Lighted</th>
                    <th scope="col">Indoor</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var court in Model.Courts)
                {
                    <tr>
                        <th scope="row">@(courtNumber++)</th>
                        <td>@court.Name</td>
                        <td>@court.Price</td>
                        <td>@court.Surface</td>
                        <td>
                            @if (court.IsLighted)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </td>
                        <td>
                            @if (court.IsIndoor)
                            {
                                <i class="fa fa-check"></i>
                            }
                            else
                            {
                                <i class="fa fa-times"></i>
                            }
                        </td>
                        <td>@(court.IsActive ? "Active" : "Not Active")</td>
                        <td>
                            <div class="d-flex flex-row justify-content-around">
                                <div class="col col-6">
                                    <a asp-controller="Court" asp-action="Edit" asp-route-id="@court.Id" class="btn btn-primary w-100 fw-bold">Edit</a>
                                </div>
                                <div class="col col-6">
                                    <button type="button" class="@(court.IsActive ? "btn btn-danger w-100 fw-bold" : "btn btn-success w-100 fw-bold")" data-bs-toggle="modal" data-bs-target="#confirmationModal_@court.Id">
                                        @(court.IsActive ? "Deactivate" : "Activate")
                                    </button>
                                    <div class="modal fade" id="confirmationModal_@court.Id" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to @(court.IsActive ? "deactivate" : "activate") this court?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <form id="confirmationForm" asp-controller="Court" asp-action="ChangeStatus" method="post">
                                                        <input type="hidden" name="id" value="@court.Id" />
                                                        <button type="submit" class="@(court.IsActive ? "btn btn-danger" : "btn btn-success")">Confirm</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
