﻿
@model AllClubsAdminSortingModel

@{
    ViewBag.Title = "Manage All Clubs";

    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    var maxPage = Math.Ceiling((double)Model.TotalClubCount / Model.ClubsPerPage);
}

@if (TempData.ContainsKey("Error"))
{
    <div class="alert alert-danger alert-dismissible fade show text-center mx-auto col-xl-6" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["Error"]
    </div>
}

<h2 class="text-center">@ViewBag.Title</h2>

<div class="container col-sm-10 mb-4">
    <form method="get" class="row g-3">
        <div class="col-md-3">
            <label class="form-label">Country</label>
            <select asp-for="Country" class="form-select">
                <option value="">All</option>
                @foreach (var country in Model.Countries)
                {
                    <option value="@country">@country</option>
                }
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label">City</label>
            <select asp-for="City" class="form-select">
                <option value="">All</option>
                @foreach (var city in Model.Cities)
                {
                    <option value="@city">@city</option>
                }
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label">Club Name</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Search...">
        </div>

        <div class="col-md-3">
            <label class="form-label">Sort By Status</label>
            <select asp-for="ClubStatusSorting" class="form-select">
                <option value="0">All</option>
                <option value="1">Approved</option>
                <option value="2">Not Approved</option>
                <option value="3">Active</option>
                <option value="4">Deleted</option>
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label">Sort By</label>
            <select asp-for="ClubSorting" class="form-select">
                <option value="0">Newest</option>
                <option value="1">Price (Low -> High)</option>
                <option value="2">Price (High -> Low)</option>
                <option value="3">Rating (Low -> High)</option>
                <option value="4">Rating (High -> Low)</option>
                <option value="5">Number of Courts (Low -> High)</option>
                <option value="6">Number of Courts (High -> Low)</option>
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label">Show Clubs Per Page</label>
            <select asp-for="ClubsPerPage" class="form-select">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <div class="col-md-3 d-flex align-items-end">
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary me-2">Search</button>
                <a asp-area="Admin" Asp-controller="Club" asp-action="Index" class="btn btn-secondary">Back to full list</a>
            </div>
        </div>
    </form>
</div>

@if (!Model.Clubs.Any())
{
    <h2 class="text-center">No clubs found by the given criteria!</h2>
}
else
{
    <div class="container-fluid col-sm-12">
        <div class="text-center row text-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-responsive-md">
                    <thead class=" table-dark">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Name</th>
                            <th scope="col">Country</th>
                            <th scope="col">City</th>
                            <th scope="col">Working Time</th>
                            <th scope="col">Prices From</th>
                            <th scope="col">Courts</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Club Owner</th>
                            <th scope="col">Registration Date</th>
                            <th scope="col">Approve Status</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (var club in Model.Clubs)
                        {
                            <tr>
                                <td><img src="~/@club.LogoUrl" style="max-width: 40px; max-height: 40px;" /></td>
                                <td class="club-name">@club.Name</td>
                                <td>@club.CountryName</td>
                                <td>@club.CityName</td>
                                <td>@club.WorkingTimeStart - @club.WorkingTimeEnd</td>
                                <td>@club.Price</td>
                                <td>@club.NumberofCourts</td>
                                <td>
                                    @if (@club.Rating > 0)
                                    {
                                        @club.Rating
                                    }
                                    else
                                    {
                                        <small>No Rating</small>
                                    }
                                </td>
                                <td>@club.ClubOwner</td>
                                <td>@club.RegisteredOn</td>
                                <td>
                                    @if (@club.IsApproved == true)
                                    {
                                        <span>Approved</span>
                                    }
                                    else
                                    {
                                        <span>Not Approved</span>

                                    }
                                </td>
                                <td>
                                    @if (@club.IsDeleted == true)
                                    {
                                        <span>Deleted</span>
                                    }
                                    else
                                    {
                                        <span>Active</span>

                                    }
                                </td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Club" asp-action="Details" asp-route-id="@club.Id" class="btn btn-primary">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                    <a class="page-link"
                       asp-area="Admin"
                       asp-controller="Club"
                       asp-action="Index"
                       asp-route-currentPage="@previousPage"
                       asp-route-country="@Model.Country"
                       asp-route-city="@Model.City"
                       asp-route-clubStatusSorting="@((int)Model.ClubStatusSorting)"
                       asp-route-searchTerm="@Model.SearchTerm"
                       asp-route-clubsPerPage="@Model.ClubsPerPage"
                       asp-route-clubSorting="@((int)Model.ClubSorting)">Previous</a>
                </li>

                @for (int i = 1; i <= maxPage; i++)
                {
                    <li class="page-item">
                        <a class="page-link @(Model.CurrentPage == i ? "active" : string.Empty)"
                           asp-area="Admin"
                           asp-controller="Club"
                           asp-action="Index"
                           asp-route-currentPage="@i"
                           asp-route-country="@Model.Country"
                           asp-route-city="@Model.City"
                           asp-route-clubStatusSorting="@((int)Model.ClubStatusSorting)"
                           asp-route-searchTerm="@Model.SearchTerm"
                           asp-route-clubsPerPage="@Model.ClubsPerPage"
                           asp-route-clubSorting="@((int)Model.ClubSorting)">
                            @i
                        </a>
                    </li>
                }

                @{
                    var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                    !Model.Clubs.Any();
                }

                <li class="page-item @(shouldButtonBeDisabled ? "disabled" : string.Empty)">
                    <a class="page-link"
                       asp-area="Admin"
                       asp-controller="Club"
                       asp-action="Index"
                       asp-route-currentPage="@(Model.CurrentPage+1)"
                       asp-route-country="@Model.Country"
                       asp-route-city="@Model.City"
                       asp-route-clubStatusSorting="@((int)Model.ClubStatusSorting)"
                       asp-route-searchTerm="@Model.SearchTerm"
                       asp-route-clubsPerPage="@Model.ClubsPerPage"
                       asp-route-clubSorting="@((int)Model.ClubSorting)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
}

