@model IEnumerable<PendingClubViewModel>

@{
    ViewBag.Title = "Pending Clubs";
}

<h1 class="text-center pb-3">Pending Clubs</h1>

@if (!Model.Any())
{
    <h2 class="text-center">No pending clubs for approval!</h2>
}

<div class="container col-sm-12">
    <div class="text-center row">
        <table class="table table-striped table-responsive-md">
            <thead class=" table-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">City</th>
                    <th scope="col">Number Of Courts</th>
                    <th scope="col">Club Owner Username</th>
                    <th scope="col">Club Owner Status</th>
                    <th scope="col">Registered On</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach (var club in Model)
                {
                    <tr>
                        <td></td>
                        <td class="club-name">@club.Name</td>
                        <td>@club.City</td>
                        <td>@club.NumberOfCourts</td>
                        <td>@club.ClubOwner</td>
                        <td>@(club.ClubOwnerStatus ? "Active" : "Not Active")</td>
                        <td>@club.RegisteredOn.ToShortDateString() @club.RegisteredOn.Date.ToShortTimeString()</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Club" asp-action="Details" asp-route-id="@club.Id" class="btn btn-primary">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
