@model ClubScheduleAdminServiceModel


@{
    var clubInfo = ViewData["ClubInfo"];

    DateTime? cuurentDate = Model.Date;
    int WorkingTimeStart = Model.WorkingHourStart;
    int WorkingTimeEnd = Model.WorkingHourEnd;
    int clubId = Model.Id;
    ViewBag.Title = $"{Model.Name} Schedule";
}

<div>
    @await Component.InvokeAsync(nameof(ClubMenuComponent), new { clubId = Model.Id })
</div>

@if (cuurentDate != null)
{
    <h2 class="text-center">@ViewBag.Title for @cuurentDate.Value.ToShortDateString() @cuurentDate.GetValueOrDefault().DayOfWeek</h2>
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="filterForm" asp-action="Schedule" method="get">
                <div class="row">
                    <div class="form-actions no-color col-auto">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                @if (Model.Date != null)
                                {
                                    <a asp-controller="Club" asp-action="Schedule" asp-route-id="@clubId" asp-route-date="@Model.Date.Value.AddDays(-1).ToString("yyy-MM-dd")" class="btn btn-primary"> <i class="fa fa-arrow-circle-o-left"></i> Previous Day</a>
                                }
                            </div>
                            <div class="col">
                                <input asp-for="Date" class="form-control" type="date" value="@(Model.Date!=null ? Model.Date.Value.ToString("yyy-MM-dd") : null)" />
                            </div>
                            <div class="col-auto">
                                @if (Model.Date != null)
                                {
                                    <a asp-controller="Club" asp-action="Schedule" asp-route-id="@clubId" asp-route-date="@Model.Date.Value.AddDays(1).ToString("yyy-MM-dd")" class="btn btn-primary">Next Day <i class="fa fa-arrow-circle-o-right"></i></a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class=" row mt-4">
                <div class="col-sm-10">
                    <div class="text-center">
                        <table class="table table-sm table-hover table-bordered table-responsive-md">
                            <thead class="table-dark">
                                <tr>
                                    <th>
                                        <i class="fa fa-calendar" style="font-size:24px"></i>
                                        @if (cuurentDate != null)
                                        {
                                            <p>@cuurentDate.Value.ToShortDateString()</p>
                                        }
                                    </th>
                                    @foreach (var court in Model.Courts)
                                    {
                                        <th>
                                            <strong>@court.Name</strong>
                                            <br />
                                            <small class="text-sm-center">@court.Surface </small>
                                            <br />

                                            @if (court.IsIndoor)
                                            {
                                                <small class="text-sm-start">
                                                    Indoor
                                                </small>
                                            }
                                            @if (court.IsLighted)
                                            {
                                                <small class="text-sm-end">
                                                    Lighted
                                                </small>
                                            }
                                        </th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                @for (int i = @WorkingTimeStart; i < WorkingTimeEnd; i++)
                                {
                                    <tr>
                                        <th>
                                            @if (i < 10)
                                            {
                                                <span><i class="fa fa-clock-o"></i>0@(i):00</span>
                                            }
                                            else
                                            {
                                                <span><i class="fa fa-clock-o"></i>@(i):00</span>
                                            }
                                        </th>
                                        @foreach (var court in Model.Courts)
                                        {
                                            var booking = null as BookingScheduleAdminServiceModel;
                                            foreach (var booked in court.Bookings)
                                            {

                                                if (booked.Hour == i)
                                                {
                                                    booking = booked;
                                                    break;
                                                }
                                            }
                                            <td>
                                                @if (booking != null && booking.IsAvailable)
                                                {
                                                    <a asp-area="Admin" asp-controller="Booking" asp-action="Book" asp-route-CourtId="@court.Id" asp-route-Hour="@booking.Hour" asp-route-BookingDate="@booking.BookingDate" asp-route-price="@court.Price" asp-route-clubId="@clubId" class="btn btn-sm btn-success w-100">Book/<small>@(court.Price)BGN</small></a>
                                                }
                                                else
                                                {
                                                    if (booking != null)
                                                    {
                                                        <a asp-area="Admin" asp-controller="Booking" asp-action="Edit" asp-route-id="@booking.Id" class="btn btn-sm btn-danger w-100">Booked/<small>@(court.Price)BGN</small></a>
                                                    }
                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
