@model ReviewAdminViewModel

@{
    ViewBag.Title = "Review Details";
}


<div class="pb-3">
    <div class="card">
        <div class="card-header">
            Rating: <strong class="@(Model.Rate <= 5 ? "text-danger" : "text-success")">@Model.Rate</strong><small> by @(string.IsNullOrWhiteSpace(@Model.ReviewerName) ? "Anonymous" : @Model.ReviewerName)</small>
            <p><small>User email: @Model.ReviewerEmail</small></p>
            <p><small>Club name: @Model.ClubName</small></p>
            <p><small>Date published: @Model.AddedDateOn</small></p>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col col-2">
                    <a asp-area="Admin" asp-controller="Review" asp-action="Revise" asp-route-id="@Model.Id" class="btn btn-primary w-100 fw-bold">Revise</a>
                </div>
                <div class="col col-2">
                    <button type="button" class="btn btn-danger w-100 fw-bold" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal_@Model.Id">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal_@Model.Id" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this review?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form asp-area="Admin" asp-controller="Review" asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
