﻿
@model AllBookingsAdminSortingModel
@{

    var clubName = ViewData["ClubName"] as string;

    if (!string.IsNullOrWhiteSpace(clubName))
    {
        ViewBag.Title = clubName + " " + "All Bookings";
    }
    else
    {
        ViewBag.Title = "All Bookings";
    }

    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }
    var maxPage = Math.Ceiling((double)Model.TotalBookingsCount / Model.BookingsPerPage);
}

@if (Model.ClubId!=null)
{
    
        @await Component.InvokeAsync(nameof(ClubMenuComponent), new { clubId = Model.ClubId })
    
}


<h2 class="text-center">@ViewBag.Title</h2>

<div class="container col-sm-10 mb-4">
    <form id="filterForm" method="get" class="row g-3">
        <input type="hidden" asp-for="ClubId" />

        <div class="col-md-3">
            <label asp-for="BookingDateFrom" class="form-label">Booking Date From</label>
            <input asp-for="BookingDateFrom" type="date" class="form-control">
        </div>

        <div class="col-md-3">
            <label class="form-label">Booking Date To</label>
            <input asp-for="BookingDateTo" type="date" class="form-control">
        </div>

        <div class="col-md-3">
            <label class="form-label">Booked On Date From</label>
            <input asp-for="BookedOnDateFrom" type="date" class="form-control">
        </div>

        <div class="col-md-3">
            <label class="form-label">Booked On Date To</label>
            <input asp-for="BookedOnDateTo" type="date" class="form-control">
        </div>

        <div class="col-md-3">
            <label class="form-label">Filter By Status</label>
            <select asp-for="StatusSorting" class="form-select">
                <option value="0">All</option>
                <option value="1">Active</option>
                <option value="2">Canceled</option>
            </select>
        </div>

        <div class="col-md-3">
            <label class="form-label">Sort By</label>
            <select asp-for="BookingSorting" class="form-select">
                <option value="0">-</option>
                <option value="1">Hour (Earliest -> Latest)</option>
                <option value="2">Hour (Latest -> Earliest)</option>
                <option value="3">Date (Earliest -> Latest)</option>
                <option value="4">Date (Latest -> Earliest)</option>
                <option value="5">Price (Low -> High)</option>
                <option value="6">Price (High -> Low)</option>
                <option value="7">Booked On Date (Earliest -> Latest)</option>
                <option value="8">Booked On Date (Latest -> Earliest)</option>
            </select>
        </div>

        @if (Model.ClubId == null)
        {
            <div class="col-md-4">
                <label class="form-label">Search by</label>
                <div class="input-group">
                    <input asp-for="SearchTerm" class="form-control" placeholder="Club/Client/Email/Phone">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <label class="form-label">Search by Name/Email/Phone</label>
                <div class="input-group">
                    <input asp-for="SearchTerm" class="form-control" placeholder="Search...">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        }

        <div class="col-md-2">
            <label class="form-label">Bookings Per Page</label>
            <select asp-for="BookingsPerPage" class="form-select">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
        </div>
    </form>
    <div class="text-center mt-3">
        <a asp-action="Index" asp-route-ClubId="@(Model.ClubId!=null ? Model.ClubId : null)" class="btn btn-secondary">Back to full list</a>
    </div>
</div>

@if (!Model.Bookings.Any())
{
    <h2 class="text-center">No bookings found by the given criteria!</h2>
}
else
{
    <div class="container col-sm-12">
        <div class="text-center row text-12">
            <div class="table-responsive">
                <table class="table table-sm table-hoover table-striped table-bordered table-responsive-md">
                    <thead class=" table-dark">
                        <tr>
                            <th scope="col">Club</th>
                            <th scope="col">Court</th>
                            <th scope="col">Date</th>
                            <th scope="col">Hour</th>
                            <th scope="col">Price</th>
                            <th scope="col">Client</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Client Email</th>
                            <th scope="col">Booked By</th>
                            <th scope="col">Booked On</th>
                            <th scope="col">Status</th>
                            <th scope="col">Reviewed</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @foreach (var booking in Model.Bookings)
                        {
                            <tr>
                                <td class="club-name">@booking.ClubName</td>
                                <td>@booking.CourtName</td>
                                <td>@booking.BookingDate.ToShortDateString()</td>
                                <td>@booking.Hour</td>
                                <td>@booking.Price <small>BGN</small></td>
                                <td>@booking.ClientName</td>
                                <td>@booking.PhoneNumber</td>
                                <td>@booking.ClientEmail</td>
                                <td>
                                    @if (booking.IsBookedByOwnerOrAdmin == true)
                                    {
                                        <span>Admin</span>
                                    }
                                    else
                                    {
                                        <span>User</span>
                                    }
                                </td>
                                <td>@booking.BookedOn.ToShortDateString()</td>
                                <td>
                                    @if (booking.IsDeleted == true)
                                    {
                                        <span>Canceled</span>
                                    }
                                    else
                                    {
                                        <span>Active</span>
                                    }
                                </td>
                                <td>
                                    @if (booking.ReviewId != null)
                                    {
                                        <i class="fa fa-check"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-times"></i>
                                    }
                                </td>
                                <td>
                                    <div class="d-flex flex-row justify-content-around">
                                        @if (booking.ReviewId == null)
                                        {
                                            <a asp-area="Admin" asp-controller="Review" asp-action="Details" asp-route-id="@booking.ReviewId" class="btn btn-sm btn-secondary disabled fw-bold"><small>Review Details</small></a>
                                        }
                                        else
                                        {
                                            <a asp-area="Admin"
                                               asp-controller="Review"
                                               asp-action="Details"
                                               asp-route-id="@booking.ReviewId"
                                               asp-route-returnUrl="@Url.Action("Index", "Booking",
                                               new { 
                                                   ClubId = Model.ClubId,
                                                   CurrentPage = Model.CurrentPage,
                                                   BookingDateFrom = Model.BookingDateFrom,
                                                   BookingDateTo = Model.BookingDateTo,
                                                   BookedOnDateFrom=Model.BookedOnDateFrom,
                                                   BookedOnDateTo = Model.BookedOnDateTo,
                                                   SearchTerm = Model.SearchTerm ,
                                                   BookingsPerPage = Model.BookingsPerPage,
                                                   StatusSorting= Model.StatusSorting,
                                                   BookingSorting = Model.BookingSorting
                                                    })" class="btn btn-sm btn-success fw-bold"><small>Review Details</small></a>
                                        }
                                        <a asp-area="Admin" 
                                        asp-controller="Booking" 
                                        asp-action="Edit"
                                           asp-route-Id="@booking.Id" asp-route-returnUrl="@Url.Action("Index", "Booking",
                                               new {
                                                   ClubId = Model.ClubId,
                                                   CurrentPage = Model.CurrentPage,
                                                   BookingDateFrom = Model.BookingDateFrom,
                                                   BookingDateTo = Model.BookingDateTo,
                                                   BookedOnDateFrom=Model.BookedOnDateFrom,
                                                   BookedOnDateTo = Model.BookedOnDateTo,
                                                   SearchTerm = Model.SearchTerm ,
                                                   BookingsPerPage = Model.BookingsPerPage,
                                                   StatusSorting= Model.StatusSorting,
                                                   BookingSorting = Model.BookingSorting
                                                    })" class="btn btn-sm btn-primary fw-bold"><small>Edit Booking</small></a>
                                        <button type="button" class="btn btn-sm btn-danger fw-bold" data-bs-toggle="modal" data-bs-target="#deleteBookingModal-@booking.Id"><small>Cancel Booking</small></button>
                                    </div>
                                    <div class="modal fade" id="deleteBookingModal-@booking.Id" tabindex="-1" aria-labelledby="deleteBookingModalLabel-@booking.Id" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteBookingModalLabel-@booking.Id">Confirm Cancellation</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure you want to cancel this booking?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <form asp-area="Admin" asp-controller="Booking" asp-action="Cancel" method="post">
                                                        <input type="hidden" name="id" value="@booking.Id" />
                                                        <input type="hidden" asp-for="ClubId" value="@Model.ClubId" />
                                                        <input type="hidden" asp-for="CurrentPage" value="@Model.CurrentPage" />
                                                        <input type="hidden" asp-for="BookingDateFrom" value="@Model.BookingDateFrom" />
                                                        <input type="hidden" asp-for="BookingDateTo" value="@Model.BookingDateTo" />
                                                        <input type="hidden" asp-for="BookedOnDateFrom" value="@Model.BookedOnDateFrom" />
                                                        <input type="hidden" asp-for="BookedOnDateTo" value="@Model.BookedOnDateTo" />
                                                        <input type="hidden" asp-for="SearchTerm" value="@Model.SearchTerm" />
                                                        <input type="hidden" asp-for="BookingsPerPage" value="@Model.BookingsPerPage" />
                                                        <input type="hidden" asp-for="StatusSorting" value="@Model.StatusSorting" />
                                                        <input type="hidden" asp-for="BookingSorting" value="@Model.BookingSorting" />

                                                        <button type="submit" class="btn btn-danger">Confirm Cancel</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination" style="background-color: transparent !important;">
                <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
                    <a class="page-link"
                       asp-controller="Booking"
                       asp-action="Index"
                       asp-route-ClubId="@Model.ClubId"
                       asp-route-CurrentPage="@previousPage"
                       asp-route-BookingDateFrom="@Model.BookingDateFrom"
                       asp-route-BookingDateTo="@Model.BookingDateTo"
                       asp-route-BookedOnDateFrom="@Model.BookedOnDateFrom"
                       asp-route-BookedOnDateTo="@Model.BookedOnDateTo"
                       asp-route-SearchTerm="@Model.SearchTerm"
                       asp-route-BookingsPerPage="@Model.BookingsPerPage"
                       asp-route-StatusSorting="@((int)Model.StatusSorting)"
                       asp-route-BookingSorting="@((int)Model.BookingSorting)">Previous</a>
                </li>

                @for (int i = 1; i <= maxPage; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : string.Empty)">
                        <a class="page-link"
                           asp-controller="Booking"
                           asp-action="Index"
                           asp-route-ClubId="@Model.ClubId"
                           asp-route-CurrentPage="@i"
                           asp-route-BookingDateFrom="@Model.BookingDateFrom"
                           asp-route-BookingDateTo="@Model.BookingDateTo"
                           asp-route-BookedOnDateFrom="@Model.BookedOnDateFrom"
                           asp-route-BookedOnDateTo="@Model.BookedOnDateTo"
                           asp-route-SearchTerm="@Model.SearchTerm"
                           asp-route-BookingsPerPage="@Model.BookingsPerPage"
                           asp-route-StatusSorting="@((int)Model.StatusSorting)"
                           asp-route-BookingSorting="@((int)Model.BookingSorting)">
                            @i<span class="@(Model.CurrentPage == i ? "sr-only" : string.Empty)"></span>
                        </a>
                    </li>
                }

                @{
                    var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                    !Model.Bookings.Any();
                }

                <li class="page-item @(shouldButtonBeDisabled ? "disabled" : string.Empty)">
                    <a class="page-link"
                       asp-controller="Booking"
                       asp-action="Index"
                       asp-route-ClubId="@Model.ClubId"
                       asp-route-CurrentPage="@(Model.CurrentPage+1)"
                       asp-route-BookingDateFrom="@Model.BookingDateFrom"
                       asp-route-BookingDateTo="@Model.BookingDateTo"
                       asp-route-BookedOnDateFrom="@Model.BookedOnDateFrom"
                       asp-route-BookedOnDateTo="@Model.BookedOnDateTo"
                       asp-route-SearchTerm="@Model.SearchTerm"
                       asp-route-BookingsPerPage="@Model.BookingsPerPage"
                       asp-route-StatusSorting="@((int)Model.StatusSorting)"
                       asp-route-BookingSorting="@((int)Model.BookingSorting)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
}
